@{
    ViewBag.Title = "AjaxAction";
}

<h2>Ajax Form</h2>

@using (Ajax.BeginForm("DoAjaxStuff", new AjaxOptions
{
    OnSuccess = "jsOnSuccess",
    OnBegin = "jsOnBegin",
    OnFailure = "jsOnFailure",
    HttpMethod ="POST"

}))
{
    <input id="inputText" name="inputText" type="text" />
    <input type="submit" value="Do it!" />

    <div id="ajaxResultsArea">
        <div>Results: <span id="ajaxResponse"></span></div>
    </div>
}

<script type="text/javascript">
    function jsOnSuccess(response)
    {
        $("#ajaxResponse").html(response);
    }
    function jsOnBegin() {
	      $("#ajaxResponse").html("");
      }
      function jsOnFailure(response) {
          $("#ajaxResponse").html("Error occured in ajax call -- here's an " +
              "ID for you: @Session.SessionID");
      }

</script>